<<<<<<< HEAD
:root {
    --primary: #4299f0;
    --accent: #f97316;
    --dark: #101922;
    --light: #f6f7f8;
    --glass: rgba(255,255,255,0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
    transition: all 0.3s ease;
    overflow-x: hidden;
}
.glass-panel {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.glass-nav {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
/* Navbar Glass Effect <!-- Logo -->*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border-radius: 9999px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
/* Logo Container */
.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 15px #00000033;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-icon span {
    color: #4299f0; 
    font-size: 24px;
}


/* Logo Text */
.logo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 6px var(--primary); /* ظل للنص يبرزه على الخلفية */
}


/* <!-- Links styles --> */
.nav-links {
    display: flex;
    gap: 30px; 
    align-items: center;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #ffffffe6;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
    color: var(--primary);
    font-weight: 600;
    transform: translateY(-2px);
}
/* Nav Actions Container */

.nav-actions {
    display: flex;
    align-items: center;
    gap: 12px; 
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Log In Button */
.nav-actions .login {
    background: transparent;
    color: #ffffffcc; 
    border: 1px solid transparent;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-actions .login:hover {
    color: #ffffff; 
    transform: translateY(-2px);
}

/* Sign Up Button */
.nav-actions .signup {
    background: #ffffff; 
    color: #101922;
    border: none;
    padding: 10px 20px;
    font-size: 0.90rem;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.nav-actions .signup:hover {
    background: #0357aa; 
    color: #ffffff;
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 6px 20px var(--primary);
}

/* Menu Button (Mobile) */
.nav-actions .menu {
    display: none;
    background: transparent;
    color: #ffffff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-actions .login,
    .nav-actions .signup,
    .nav-links{
        display: none;
    }
    .nav-actions .menu {
        display: flex;
    }
}


/* Sidebar Container */
.sidebar {
    position: fixed;
    top: -100%;
    right: -100%; 
    width: 260px;
    height: max-content;
    background: #ffffff26;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 4px 0 30px #7979794d;
    padding: 20px;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 100;
}

/* Sidebar Active */
.sidebar.active {
    top: 4rem;
    right: 2.7rem;
}

/* Close Button */
.sidebar .close-btn {
    background: transparent;
    border: none;
    color: #9b0707;
    border-radius: 50%;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

/* Sidebar Links */
.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-links a {
    text-decoration: none;
    color: #ffffffe6;
    padding: 8px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #0357aa;
    padding: 8px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    transform: translateX(3px) scale(1.02);

}

/* Sidebar Sign Up Button */
.sidebar-links .signup {
    background: #ffffff;
    color: #101922;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-links .signup:hover {
    background: #4299f0;
    color: #ffffff;
    transform: translateX(3px) scale(1.02);
}




=======
:root {
    --primary: #4299f0;
    --accent: #f97316;
    --dark: #101922;
    --light: #f6f7f8;
    --glass: rgba(255,255,255,0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
    transition: all 0.3s ease;
    overflow-x: hidden;
}
.glass-panel {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.glass-nav {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
/* Navbar Glass Effect <!-- Logo -->*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border-radius: 9999px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
/* Logo Container */
.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 15px #00000033;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-icon span {
    color: #4299f0; 
    font-size: 24px;
}


/* Logo Text */
.logo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 6px var(--primary); /* ظل للنص يبرزه على الخلفية */
}


/* <!-- Links styles --> */
.nav-links {
    display: flex;
    gap: 30px; 
    align-items: center;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #ffffffe6;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
    color: var(--primary);
    font-weight: 600;
    transform: translateY(-2px);
}
/* Nav Actions Container */

.nav-actions {
    display: flex;
    align-items: center;
    gap: 12px; 
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Log In Button */
.nav-actions .login {
    background: transparent;
    color: #ffffffcc; 
    border: 1px solid transparent;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-actions .login:hover {
    color: #ffffff; 
    transform: translateY(-2px);
}

/* Sign Up Button */
.nav-actions .signup {
    background: #ffffff; 
    color: #101922;
    border: none;
    padding: 10px 20px;
    font-size: 0.90rem;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.nav-actions .signup:hover {
    background: #0357aa; 
    color: #ffffff;
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 6px 20px var(--primary);
}

/* Menu Button (Mobile) */
.nav-actions .menu {
    display: none;
    background: transparent;
    color: #ffffff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-actions .login,
    .nav-actions .signup,
    .nav-links{
        display: none;
    }
    .nav-actions .menu {
        display: flex;
    }
}


/* Sidebar Container */
.sidebar {
    position: fixed;
    top: -100%;
    right: -100%; 
    width: 260px;
    height: max-content;
    background: #ffffff26;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 4px 0 30px #7979794d;
    padding: 20px;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 100;
}

/* Sidebar Active */
.sidebar.active {
    top: 4rem;
    right: 2.7rem;
}

/* Close Button */
.sidebar .close-btn {
    background: transparent;
    border: none;
    color: #9b0707;
    border-radius: 50%;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

/* Sidebar Links */
.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-links a {
    text-decoration: none;
    color: #ffffffe6;
    padding: 8px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #0357aa;
    padding: 8px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    transform: translateX(3px) scale(1.02);

}

/* Sidebar Sign Up Button */
.sidebar-links .signup {
    background: #ffffff;
    color: #101922;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-links .signup:hover {
    background: #4299f0;
    color: #ffffff;
    transform: translateX(3px) scale(1.02);
}




>>>>>>> 2cf959579afdfc2daaf7dcb2c6d7414cdc303aab
